                <a class="item js-navigate" href="/" >
                    <i class="external home icon"></i>
                    <span class="ui name" href=""> All </span>
                </a>
                {{ range $channel := .channels }}
                <div class="item js-navigate-channel" data-href="/channel/{{$channel.Key}}" data-key="{{$channel.Key}}" style="cursor:pointer;">
                    <a href="{{$channel.HomePage}}" class="ui float right"><i class="external url sign icon"></i></a>
                    <span class="ui name" href=""> {{$channel.Title}} </span>
                    <span class="ui label">{{ len $channel.Links }}</span>
                </div>
                {{end}}
